@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Ruda", sans-serif;
}
[x-cloak] {
	display: none;
}
#isi-ringkasan::-webkit-scrollbar, #daftar-isi::-webkit-scrollbar {
	width: 10px;
}
#isi-ringkasan::-webkit-scrollbar-thumb, #daftar-isi::-webkit-scrollbar-thumb {
	background: #9ca3af;
	border-radius: 0.375rem;
}
.fadeLeft {
	@apply opacity-0 -translate-x-32 transition duration-700;
}
.fadeLeft.active {
	@apply opacity-100 translate-x-0;
}
.fadeRight {
	@apply opacity-0 translate-x-32 transition duration-700;
}
.fadeRight.active {
	@apply opacity-100 translate-x-0;
}
.fadeDown {
	@apply opacity-0 -translate-y-24 transition duration-700;
}
.fadeDown.active {
	@apply opacity-100 translate-y-0;
}